
@tailwind base;
@tailwind components; 
@tailwind utilities;

* {
  font-family: sans-serif;
}

body {
  margin: 0; 
  padding: 0; 
  width: 100vw; 
  height: 100vh; 
  background-color: #fefbea;
  color: #0b2b26; 
  display: flex; 
  justify-content: center;

}

p { 
  font-weight: 450;
  font-size: 16px;
  color: #235347;
  
}



.header {
  margin: 0%;
  padding: 0px 0px;
  text-align: left;
  background: #fefbea;
  color: #235347;
  font-size: 30px;
}

.header h1 {
  margin-bottom: 0;
  padding: 0px 10px;
  text-align: left;
  background: #fefbea;
  color: #235347;
  font-size: 50px;
}

.header h2 {
  margin: 10vw; 
  padding: 0px 0px;
  text-align: left;
  background: #fefbea;
  color: #235347;
  font-size: 25px;
  font-weight: 500;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.app { 
  width: 80vw; 
  margin: 8vw; 
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.search-result { 
  margin-top: 10px;
  overflow-y: auto; /* Enables vertical scrolling if needed */
  overflow-x: hidden; /* Disables horizontal scrolling */
}

.surprise { 
  background-color: #ececf1;
  color: #0b2b26;
  border-radius: 4px;
  font-weight: 400;
  padding: 1px 10px;
  margin: 0 0  2px 5px;
  border: none;
}

.input-container { 
  width: 100%;
  min-height: 43.5px;
  border: solid 0.5px #cacaca; 
  display:flex;
  box-sizing: boarder-box;
  border-radius: 6px;
  box-shadow: rgba(0,0,82,0.15) 0 2px 4px;
  overflow: hidden;
}

.input-container input { 
  border: none; 
  padding: 13px 14px;
  box-sizing: boarder-box;
  font-size: 15px;
  outline: none;
  width: 90%;
  font-weight: 200; 
}

.input-container input::placeholder { 
color: #cacaca;
font-weight: 200;

}

.input-container button{ 
  min-width: 10%;
  border: none;
  border-left: 1.5px solid #bebebe;
  background-color: #fff;
  color: #777;
  font-weight: bold;
  cursor: pointer;
}

.input-container button:active{ 
  background-color: #cacaca;
}

.answer { 
  padding: 13px 14px;
  border: solid 0.5px #cacaca;
  background-color: #fff;
  margin: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #235347;
  border-radius: 6px;

}
